<launch>
    <arg name="simulated_nao" default="true" />
    <arg name="nao_handedness" default="right" />
    <arg name="nao_ip" default="127.0.0.1" />
       
    <!-- Start the capabilities for the Nao to trace messages on a writing surface -->
    <include file="$(find nao_trajectory_following)/launch/nao_writing_on_surface.launch" >
        <arg name="nao_handedness" value="$(arg nao_handedness)" />
    </include>

    <!-- Start the learning algorithm -->
    <node pkg="shape_learning_interaction" type="learning_words_nao.py" name="learning_words_nao">
        <param name="nao_ip" type="str" value="$(arg nao_ip)"/>
        <param name="nao_handedness" type="str" value="$(arg nao_handedness)"/>
        <param name="dataset_directory" type="str" value="$(find shape_learning)/letter_model_datasets" />
    </node>

    <!-- Start the card detection -->
    <node pkg="shape_learning_interaction" type="word_card_detector.py" name="word_detector"/>

    <!-- Start the display manager server, which will be accessed by the gesture_manager node and the relevant shape_learning package's node -->
    <node pkg="shape_learning_interaction" type="display_manager_server.py" name="display_manager_server"/>

    <!-- Start the gesture listener, which will map gestures to the relevant shape -->
    <node pkg="shape_learning_interaction" type="gesture_manager.py" name="gesture_manager"/>   

</launch>
